body{
    background-color: rgb(168, 168, 168);
}

h1{
    font-size: 40px;
}


ul{
    list-style: none;
}

.caja{
    float: left;
    margin: 1% ;
}

.links{
    background-color: rgb(66, 231, 66);
    width: 20%;
}

.arbol{
    background-color: yellow;
    width: 40%;
}

.informacion{
    background-color: rgb(85, 76, 76);
    width: 30%;
}


@media (max-width:768px){
    .links{
        float: left;
        display: block;
        width: 20%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .arbol{
        padding: 0px;
        float: right;
        width: 70%;
        margin: 0px;
        padding: 0px;
    }

    .informacion{
        width: 70%;
        float: right;
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
    }
}

@media(max-width:768px){

.links{
        float: left;
        display: block;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    .arbol{
        padding: 0px;
        float: right;
        width: 100%;
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
    }

    .informacion{
        width: 100%;
        float: right;
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
    }
}
